
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Jura:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  background: linear-gradient(to bottom, #530095, #160721);
}

body{
  font-family: "Roboto", serif;
  font-size: 16px;
  color: aliceblue;
  height: 100vh;
}

@media (max-height: 700px) {
  body {
    height: 100%;
  }
}
